<!-- -------- START FOOTER 5 w/ DARK BACKGROUND ------- -->
<footer class="footer py-5 bg-gradient-dark">
  <div class="container position-relative z-index-1">
    <div class="row">
      <div class="col-lg-4 me-auto mb-lg-0 mb-4 ">
        <h6 class="text-white font-weight-bolder mb-lg-4 mb-3">CryptoShare</h6>
        <ul class="nav flex-row ms-n3 align-items-center mb-4 mt-sm-0">
          <li class="nav-item">
            <a class="nav-link text-white opacity-8" href="https://www.creative-tim.com" target="_blank">
              Home
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white opacity-8" href="https://www.creative-tim.com/presentation" target="_blank">
              About
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link text-white opacity-8" href="https://www.creative-tim.com" target="_blank">
              Services
            </a>
          </li>
        </ul>
      </div>
      <div class="col-lg-6 ms-auto text-lg-end text-center">
        <p class="mb-5 text-lg text-white font-weight-bold">
          The reward for getting on the stage is fame. The price of fame is you can’t get off the stage.
        </p>
        <a href="javascript:;" target="_blank" class="text-white me-xl-4 me-4 opacity-5">
          <span class="fab fa-dribbble"></span>
        </a>
        <a href="javascript:;" target="_blank" class="text-white me-xl-4 me-4 opacity-5">
          <span class="fab fa-twitter"></span>
        </a>
        <a href="javascript:;" target="_blank" class="text-white me-xl-4 me-4 opacity-5">
          <span class="fab fa-pinterest"></span>
        </a>
        <a href="javascript:;" target="_blank" class="text-white opacity-5">
          <span class="fab fa-github"></span>
        </a>
      </div>
    </div>
  </div>
</footer>
<!-- -------- END FOOTER 5 w/ DARK BACKGROUND ------- -->